$background-light: #eef6ff;
$background-dark: #001429;
$footer-bg: #001f3d;

// Main website colors
$primary: #06c;
$primary-light: #18f;
$primary-dark: #003366;

$shadow: #0e1e25;

/**
 * Companies-->
 * 
 * ~RAZER: ##44d62c
 * ~MSI: #EB1D24
 * ~ALIENWARE #007cc0
 */