.lottery {
    background: white;
    box-shadow: 0 2rem 6rem 1rem rgba(black, 0.1);
    transform: skew(-20deg);
    display: flex;
    width: max-content;
    perspective: 1000;
    transition: all 0.5s;
    margin: 0 auto;

    @include respond(phone) {
        display: none;
    }

    &:hover {
        transform: skewX(-20deg) scale(1.08);
        box-shadow: 0 3rem 8rem 2rem rgba(0, 0, 0, 0.1);
    }

    &__event-box {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-right: 1px solid #ddd;
    }

    &__details {
        display: flex;
        align-items: center;
    }

    &__title {
        padding: 1.5rem 2.5rem;
        padding-right: 3rem;
        transform: skew(20deg);

        /** 650px */
        @media only screen and (max-width: 40.625em) {
            padding: 1.2rem 2.1rem;
            padding-right: 1.5rem;
        }
    }

    &__time {
        line-height: 1.4;
        font-size: 1.5rem;
        @include text-gradient;
    }

    &__detail {
        border-left: 1px solid #ddd;
        padding: 0 2rem;
    }

    &__offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -1rem;
        transform: skew(20deg);

        span {
            display: block;
            font-size: 1.1rem;
            color: $primary-light;
            line-height: 1.22;
        }
    }

    &__icon {
        width: 1.8rem;
        margin-bottom: .6rem;
    }

    &__link-container {
        align-self: stretch;
        background-image: linear-gradient($primary-light, $primary);
        display: flex;
        align-items: center;
        padding: 0 1.3rem;
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            color: white;
            font-size: 1.8rem;
            padding: 0 1.4rem;
            border: 2px solid white;
            border-radius: 10rem;
            line-height: 1.4;
            transform: skew(20deg);
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $primary;
            background-color: white;
        }
    }
}